<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MBAcam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="dark" *ngIf="images.length == 0" >
    <h4>Adicione imagens nos botões abaixo</h4>
  </ion-text>
  <ion-list>
      <ion-item *ngFor="let image of images">
        <img src="{{image}}"/>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <ion-button fill="solid" expand="full" (click)="adicionarCamera()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Câmera
  </ion-button>
  <ion-button fill="solid" expand="full" (click)="adicionarGaleria()">
    <ion-icon slot="start" name="folder-open"></ion-icon>
    Galeria
  </ion-button>
</ion-footer>
